Repository mozilla/application-services, pull requests merged in 2018-05, with the labels that each got.

#16 Versioned state serialization/deserialization
  fxa-rust-client/.gitignore
  fxa-rust-client/src/lib.rs
  fxa-rust-client/src/login_sm.rs
Labels: WIP

#23 Use base16 crate in sync adapter and improve HMAC verification
  sync15-adapter/Cargo.toml
  sync15-adapter/src/key_bundle.rs
  sync15-adapter/src/lib.rs
  sync15-adapter/src/util.rs
Labels: sync-adapter

#15 Web-based OAuth flows
  fxa-rust-client/Cargo.toml
  fxa-rust-client/ffi/src/ctypes.rs
  fxa-rust-client/ffi/src/lib.rs
  fxa-rust-client/src/config.rs
  fxa-rust-client/src/errors.rs
  fxa-rust-client/src/http_client/hawk_request.rs
  fxa-rust-client/src/http_client/mod.rs
  fxa-rust-client/src/lib.rs
  fxa-rust-client/src/login_sm.rs
  fxa-rust-client/src/util.rs
Labels: fxa-client

#43 Handle OAuth scope implications
  fxa-rust-client/Cargo.toml
  fxa-rust-client/src/lib.rs
  fxa-rust-client/src/oauth.rs
Labels: fxa-client

#52 FFI errors
  fxa-rust-client/ffi/src/lib.rs
  fxa-rust-client/sdks/swift/FxAClient/FxAClient.xcodeproj/project.pbxproj
  fxa-rust-client/sdks/swift/FxAClient/FxAClient/Errors/Errors.swift
  fxa-rust-client/sdks/swift/FxAClient/FxAClient/Errors/RustError.swift
  fxa-rust-client/sdks/swift/FxAClient/FxAClient/Extensions/Result+Unwrap.swift
  fxa-rust-client/sdks/swift/FxAClient/FxAClient/FirefoxAccount.swift
  fxa-rust-client/sdks/swift/FxAClient/FxAClient/Rust/RustPointer.swift
  fxa-rust-client/sdks/swift/FxAClient/FxAClient/RustObject.swift
  fxa-rust-client/sdks/swift/FxAClient/FxAClient/fxa.h
  fxa-rust-client/src/errors.rs
  fxa-rust-client/src/lib.rs
Labels: WIP, fxa-client
