Repository mozilla/application-services, pull requests merged in 2018-08, with the labels that each got.

#121 Ensure FirefoxAccount is Send
  fxa-rust-client/src/lib.rs
Labels: review

#141 Build FxA client for pull requests.
  .taskcluster.yml
  automation/taskcluster/decision_task_pull_request.py
  libs/build-all-android.sh
  libs/build-all-desktop.sh
  libs/build-all.sh
  libs/build-openssl-android.sh
  scripts/taskcluster-android.sh
  scripts/taskcluster-cargo-config
Labels: next

#122 High level FxA sdks documentation
  docs/accounts/fxa-client-android.md
  docs/accounts/fxa-client-ios.md
  website/i18n/en.json
  website/sidebars.json
Labels: docs, review

#139 [WIP] document fxa metrics query params
  docs/accounts/metrics.md
Labels: docs
