Repository mozilla/application-services, pull requests merged in 2019-05, with the labels that each got.

#1088 Update to Xcode 10.2.1, Swift 4.2 (from 4.0).
  .circleci/config.yml
  xcconfig/common.xcconfig
Labels: Blocked

#1115 feat: alter `verify_connection` to just return boolean
  CHANGELOG.md
  CHANGES_UNRELEASED.md
  components/push/android/src/main/java/mozilla/appservices/push/LibPushFFI.kt
  components/push/android/src/main/java/mozilla/appservices/push/PushManager.kt
  components/push/android/src/test/java/mozilla/appservices/push/PushTest.kt
  components/push/ffi/src/lib.rs
  components/push/src/communications.rs
  components/push/src/subscriber.rs
Labels: review

#1104 feat: Add LiveTest code.
  Cargo.lock
  components/push/Cargo.toml
  components/push/android/src/test/java/mozilla/appservices/push/PushTest.kt
  components/push/examples/livetest.rs
  components/push/src/communications.rs
  components/push/src/storage/db.rs
  components/push/src/subscriber.rs
Labels: review, 📣 Push

#1124 feat: add `unsubscribeAll()` function
  CHANGES_UNRELEASED.md
  components/push/android/src/main/java/mozilla/appservices/push/LibPushFFI.kt
  components/push/android/src/main/java/mozilla/appservices/push/PushManager.kt
  components/push/ffi/src/lib.rs
  components/push/src/subscriber.rs
Labels: review, 📣 Push

#714 RFC: Sync manager
  docs/design/sync-manager.md
Labels: next, ↕ Sync
