Repository mozilla/application-services, pull requests merged in 2019-04, with the labels that each got.

#886 feat: Additional requests from customer for PushManager code
  CHANGELOG.md
  components/push/android/src/main/java/mozilla/appservices/push/PushManager.kt
  components/push/android/src/test/java/mozilla/appservices/push/PushTest.kt
Labels: :mega: Push, review

#878 feat: Handle default database paths better
  CHANGELOG.md
  components/push/android/src/main/java/mozilla/appservices/push/PushManager.kt
  components/push/android/src/test/java/mozilla/appservices/push/PushTest.kt
  components/push/storage/src/db.rs
Labels: :mega: Push, review

#890 Add README.md for logins
  components/logins/README.md
Labels: review

#935 chore(docs): Document our (lack of) policy around swift/kotlin deps
  docs/dependency-management.md
Labels: review

#907 bug: store meta-data for push component in the database.
  CHANGELOG.md
  Cargo.lock
  components/push/android/src/main/java/mozilla/appservices/push/PushManager.kt
  components/push/android/src/test/java/mozilla/appservices/push/PushTest.kt
  components/push/communications/src/lib.rs
  components/push/crypto/src/lib.rs
  components/push/storage/src/db.rs
  components/push/storage/src/record.rs
  components/push/storage/src/schema.rs
  components/push/storage/src/schema.sql
  components/push/subscriber/Cargo.toml
  components/push/subscriber/src/lib.rs
Labels: :mega: Push, review

#981 bug: Only use Auth header if auth provided by server.
  CHANGELOG.md
  components/push/android/src/main/java/mozilla/appservices/push/PushManager.kt
  components/push/android/src/test/java/mozilla/appservices/push/PushTest.kt
  components/push/ffi/src/lib.rs
  components/push/src/communications.rs
  components/push/src/storage/db.rs
  components/push/src/subscriber.rs
Labels: :mega: Push, review

#988 bug: Only call server subscribe on new channelID requests
  components/push/src/subscriber.rs
Labels: :mega: Push, review

#892 Refactor the global state machine on the path to a SyncManager.
  components/logins/examples/sync_pass_sql.rs
  components/logins/src/db.rs
  components/logins/src/engine.rs
  components/logins/src/schema.rs
  components/places/examples/places-utils.rs
  components/places/src/api/places_api.rs
  components/places/src/bookmark_sync/store.rs
  components/places/src/history_sync/store.rs
  components/places/src/storage/mod.rs
  components/sync15/src/changeset.rs
  components/sync15/src/client.rs
  components/sync15/src/coll_state.rs
  components/sync15/src/collection_keys.rs
  components/sync15/src/error.rs
  components/sync15/src/key_bundle.rs
  components/sync15/src/lib.rs
  components/sync15/src/migrate_state.rs
  components/sync15/src/state.rs
  components/sync15/src/sync.rs
  components/sync15/src/sync_multiple.rs
  components/sync15/src/token.rs
  testing/sync-test/src/auth.rs
Labels: review

#990 bug: Normalize error messages
  components/push/ffi/src/lib.rs
  components/push/src/communications.rs
  components/push/src/crypto.rs
Labels: review

#918 Expose bookmarks sync
  CHANGELOG.md
  components/logins/ios/Logins/LoginsStorage.swift
  components/places/android/src/main/java/mozilla/appservices/places/LibPlacesFFI.kt
  components/places/android/src/main/java/mozilla/appservices/places/PlacesConnection.kt
  components/places/ffi/src/lib.rs
  components/places/ios/Places/Places.swift
  components/places/ios/Places/RustPlacesAPI.h
  components/places/src/api/places_api.rs
  components/places/src/bookmark_sync/store.rs
  components/support/ios/SyncUnlockInfo.swift
  megazords/ios/MozillaAppServices.xcodeproj/project.pbxproj
  megazords/ios/MozillaAppServicesTests/PlacesTests.swift
Labels: :arrows_clockwise: Sync, :bookmark: Bookmarks, Blocked, ship-ready

#982 Build and deploy the product portal and books on CircleCI
  .circleci/config.yml
  website/siteConfig.js
Labels: review

#927 Store diverging structure for synced bookmarks
  components/places/sql/create_shared_schema.sql
  components/places/src/bookmark_sync/incoming.rs
  components/places/src/bookmark_sync/store.rs
  components/places/src/bookmark_sync/tests/synced_item.rs
  components/places/src/db/schema.rs
Labels: :bookmark: Bookmarks, review, ship-ready

#1003 fix(libs): Pass RTLD_LAZY when checking whether we can link against NSS.
  libs/bootstrap-desktop.sh
Labels: review

#894 feat(scripts): Generate summary of shared-vs-platform-specific code.
  tools/loc_summary.py
Labels: review

#1027 bug: Remove some PII
  components/logins/src/schema.rs
  components/places/src/bookmark_sync/incoming.rs
  components/places/src/db/schema.rs
  components/push/src/storage/schema.rs
Labels: review

#1080 bug: Fix auth header for push
  components/push/src/communications.rs
Labels: :mega: Push, review
